.badge {
    background-color:rgb(184, 159, 148);
}

.btn-margin:hover {
    background-color: rgb(143, 120, 111);
    color: rgb(255, 255, 255);
    border-color: rgb(218, 205, 201);
}

.btn-danger:hover {
    background-color: rgb(143, 120, 111);
    color: rgb(255, 255, 255);
    border-color: rgb(218, 205, 201);
}

.btn-margin {
    background-color: rgb(75, 58, 51);
    color: rgb(247, 240, 237);
    border-color: rgb(75, 58, 51);
}

.btn-danger {
    background-color: rgb(75, 58, 51);
    color: rgb(247, 240, 237);
    border-color: rgb(75, 58, 51);
}