@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d0d9e6; /* світло-сірий фон */
    color: #333; /* темний текст */
}

.navbar {
    background-color: #2C3E50; /* темно-синій */
    border-bottom: 3px solid #bb2a31; /* яскраво-червоний акцент */
}

.nav-link, .navbar-brand {
    color: #ECF0F1 !important; /* світлий текст */
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: #bb2a31 !important; /* червоний при наведенні */
}

.badge {
    background-color: #bb2a31; /* червоний */
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: #2C3E50; /* темно-синій */
    color: #ECF0F1;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color:#bb2a31; /* червоний при наведенні */
    color: #fff;
    margin-top: 10px;
}

.btn-primary {
    background-color: #2C3E50;
}

.btn-secondary {
    background-color: #7F8C8D; /* сірий */
}

.btn-danger {
    background-color: #bb2a31; 
}

h1, h2, h3 {
    color: #2C3E50; /* темно-синій */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

a {
    color: #2C3E50; /* темно-синій */
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #bb2a31; /* червоний при наведенні */
    text-decoration: underline;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    width: auto;
    margin-right: 10px;
    border: 1px solid #2C3E50;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #2C3E50;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.list-group-item:hover {
    background-color: #bb2a31; /* червоний при наведенні */
    border-color: #bb2a31; /* темно-червоний */
    color: #fff;
}

.card {
    background-color: #fff;
    border: 1px solid #2C3E50;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-body {
    padding: 15px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.comment, .reply {
    border: 1px solid #ddd; /* Світла рамка */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Легка світла заливка */
}

.comment-header {
    font-weight: bold; /* Жирний шрифт */
}

.reply {
    margin-left: 20px; /* Відступ для відповідей */
}